@import '_colors';
@import '_typography';
@import '_variables';
@import '_component';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
}

.dark-mode {
  background-color: var(--white);
  color: var(--white);
  box-shadow: var(--shadow);
}
